DEPLOYMENT_TARGET=production
DEPLOYMENT_RELEASE_STAGE=initial
VITE_API_BASE_URL=https://api.galotxesmonover.es/api/v1
VITE_PUBLIC_SITE_URL=https://galotxesmonover.es
VITE_PUBLIC_INDEXING_ENABLED=false
